/*Palette: http://www.colourlovers.com/palette/806955/[slow_motion]*/
body {
  /*background: url($backgroundURL) $background repeat;*/
  font-family: 'Bitter', serif; }

#textarea {
  background-color: #f8eddb;
  font-family: 'Bitter', serif;
  font-size: 24px;
  color: #3e122f;
  border: none;
  resize: none;
  padding: 20px;
  bottom: 0px;
  top: 20px;
  border-left: 1px solid #d877b7;
  border-right: 1px solid #d877b7;
  border-top: 1px solid #d877b7; }
  @media screen and (min-width: 780px) {
    #textarea {
      position: absolute;
      left: 15%;
      right: 15%;
      width: 70%; } }
  @media screen and (max-width: 780px) {
    #textarea {
      position: absolute;
      left: 5%;
      right: 5%;
      width: 90%;
      margin-top: 50px; } }
  #textarea:focus {
    outline: none; }

#scorearea {
  background-color: #f7803c;
  color: #f8eddb;
  font-size: 24px;
  font-style: italic;
  padding: 10px;
  position: absolute;
  right: 0px; }
  #scorearea #score {
    display: inline; }
  #scorearea #bananas {
    display: inline; }

#copyright {
  background-color: white;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: -20px;
  bottom: 28px;
  padding: 5px 5px 0px 5px;
  /*top right bottom left*/
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }
  #copyright a {
    color: #d877b7;
    text-decoration: none; }

img {
  vertical-align: -10%; }

::-webkit-scrollbar {
  width: 10px;
  padding: 0px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d877b7; }
